html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.nav-container {   
  position: fixed;
  top: 0;
  left: 0;                  
  width: 100%;
  height: 80px;             
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);           
}

.logo{
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: lightskyblue;   
}

.nav-bar{
    display: flex;
    gap: 20px;   
}

.link a{
    text-decoration: none;   /* removing underline */
    font-weight: 500;        /* how thick the charcters are */
    color: black;
    transition: color 0.2s ease; /*color changes smoothly */

}

.link:hover a{
    color: lightskyblue
}

.link a.active {
    color: lightskyblue;
}

section {
    min-height: 100vh;
    padding: 20px 20px 20px 40px;
}